.main-cnt-avatar-bl{
	float: left;
	width: 143px;
	height: 143px;
	margin: 17px 25px 25px 33px;
	line-height: 1;
	border: 5px solid #35a8be;
	-webkit-border-radius: 75px;
	border-radius: 50% 50%;
	overflow: hidden;
}
.main-cnt-data{
	list-style: none;
	line-height: 0.85;
}
.main-cnt-data-item-title{
	font-weight: bold;
	float: left;
	margin: 0px 20px 0px 0px;
}
.skils-bl{
	list-style: none;
	display: block;
	margin-left: 162px;
}	
.skils-bl-item{
	display: inline-block;
	color: #fff;
	padding: 5px 14px;
	margin:4px;
	font-family: proxima_nova_condensedSBd;
	font-size: 14px;
	line-height: 1;
	background: #3ba8c0; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(49%,#3ba8c0), color-stop(50%,#2e8ca2), color-stop(99%,#2e8ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}	

.main-cnt-data-item{
	margin-bottom: 20px;
}

.key_nv{
	margin-left: 210px;
}
.main-cnt-data-item-ico{
	float: left;
}

.main-cnt-data-item-text{
	line-height: 1.2;
	padding-left: 104px;
	font-size: 17px;
	
}
	
.bag{
	background: url(../img/ico_bag.png) no-repeat;
	background-position: 38px center;

}
.study{
	background: url(../img/ico_study.png) no-repeat;
	background-position: 30px center;
}
.courses{
	background: url(../img/ico_doc.png) no-repeat;
	background-position: 38px center;
}
.main-cnt-data-item-text-lt{
	display: block;
	font-family: fira_sanslight, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
