.main-contact-bl-title{
  padding: 42px 55px 35px 55px;
  text-align: center;
  background-color: #48cbe8;
  color: #fff;
  font-size: 27px;
}
.blue_line{
  height: 17px;
  background: #67dffa;
}
.main-contact-bl-body{
  padding: 45px 120px;
}
.lable-item{
  color: #959aa8;
  font-size: 17px;
  font-family: fira_sanslight, Arial, Helvetica, sans-serif;
}
.input-item, .textarea-item{
box-sizing: border-box;
font-size: 13px;
font-family: fira_sanslight, Arial, Helvetica, sans-serif;
  padding: 7px 9px;
  border: 1px solid #48cbe8;
  border-radius: 4px;
  width: 100%;
  color: #48cbe8;
}

.input-item.error, .textarea-item.error{
  color: #959aa8;
  background: #fdd5d2;
  border-color: #f97e76;
}

.textarea-item{
  resize:vertical;
}
.block-capcha{
  border: 1px solid #48cbe8;
  border-radius: 4px;
  background: #fff;
  text-align: center;
  padding: 16px 0px 5px 0px;
}
.capch-inp{
  margin-top: 18px;
}
.btn{
  font-size: 17px;
  font-family: fira_sansbook, Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 2px 27px;
  min-width: 140px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  
}
.btn-send{
  background: #48cbe8;
  border: 2px solid #48cbe8;
  border-bottom-color: #3ba8c0;
}
.btn-send:hover{
  border-bottom-color: #48cbe8;
}
.btn-send:active{
  border-bottom-color: #48cbe8;
  border-top-color: #3ba8c0;
}

.btn-clear{
  background: #849db5;
  border: 2px solid #849db5;
  border-bottom-color: #687b8f;
}

.btn-clear:hover{
  border-bottom-color: #849db5;
}
.btn-clear:active{
  border-bottom-color: #849db5;
  border-top-color: #687b8f;
}