.main-contact-bl-title{
  padding: 42px 55px 35px 55px;
  text-align: center;
  background-color: #48cbe8;
  color: #fff;
  font-size: 27px;
}
.blue_line{
  height: 17px;
  background: #67dffa;
}
.main-contact-bl-body{
  padding: 45px 120px;
}
