@import url(fonts/fira/fira.css);
@import url(fonts/Proxima-Nova/proxima-nova.css);

/*Общии правила*/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}

ul{
	margin: 0 0;
	padding: 0 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.no-bold{
	font-weight: normal !important;
}
.wrap-st-1{
	max-width: 1200px;
	margin: 0 auto;
}
.wrap-st-2{
	max-width: 960px;
	margin: 0 auto;
}

.main-block{
	background: url(../img/bg.jpg);
	font-family: fira_sansbook, Arial, Helvetica, sans-serif;
	color: #4a545d;
	min-width: 320px;
}
.line-gradient{
height: 3px;
background: -webkit-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
background: -o-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
background: -ms-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
background: -moz-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
background: linear-gradient(to right, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
}
/* / Общии правила*/

/* header */
.header{
	background-color: #eff3f7;
	padding: 34px 10px 0px 10px;
}
.header-block-logo{
	float: left;
	padding-top: 6px;
	padding-bottom: 34px;
}
.header-nav{
	float: right;
}
.header-soc-seti{
	float: right;
}
.soc-seti-item{
	float: left;
	list-style: none;
	margin-left: 22px;
}
.soc-seti-link{
	display: block;
	width: 50px;
	height: 50px;
	color: rgba(0,0,0,0);
	font-size: 0px;
}
.vk{
	background-image: url(../img/ico_soc.png);
	background-position: -8px -155px; 
}
.vk:hover{
	background-image: url(../img/ico_soc.png);
	background-position: -8px -9px; 
}
.tw{
	background-image: url(../img/ico_soc.png);
	background-position: -155px -155px; 
}
.tw:hover{
	background-image: url(../img/ico_soc.png);
	background-position: -155px -9px; 
}
.fb{
	background-image: url(../img/ico_soc.png);
	background-position: -303px -155px; 
}
.fb:hover{
	background-image: url(../img/ico_soc.png);
	background-position: -303px -9px; 
}
.gt{
	background-image: url(../img/ico_soc.png);
	background-position: -450px -155px; 
}
.gt:hover{
	background-image: url(../img/ico_soc.png);
	background-position: -450px -9px; 
}
.header-nav{
	width: 25px;
	height: 21px;
	margin: 10px 0px 0px 60px;
	background-image: url(../img/ico-mobile-nav.png);
	cursor: pointer;
}
.header-nav:hover .nav-block{
	display: block;
}
.header-nav .nav-block{
	/* display: block; */
	position: absolute;
	margin-top: 32px;
	right: 5px;
	-webkit-box-shadow: 1px 3px 8px 1px rgba(13,16,7,.35);
	-moz-box-shadow: 1px 3px 8px 1px rgba(13,16,7,.35);
	box-shadow: 1px 3px 8px 1px rgba(13,16,7,.35);
}


.header-nav-item{
	width: 250px;
}
.header-nav-link{
	display: block;
	font-size: 23px;
	background: #fff;
	color: #959aa8;
	padding: 20px 20px 14px 25px;
	vertical-align: center;
	border-bottom:2px solid #3ba8c0;
}
.header-nav-link:hover{
	color:#3ba8c0;
	
}
.header-nav-link.active{
	background: #3ba8c0;
	color:#fff;
	border-bottom:2px solid #3ba8c0;
}
.header-nav-link.first:before {
    content: '';
	position: absolute;
	left: 185px;
	top: -20px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
.header-nav-link.first.active:before {
	border-bottom: 10px solid #3ba8c0;;
}

/* / header */

/* content*/
.content{
	padding-top: 40px;
}
.main-content{
	float: right;
}
.main-cnt-bl{
	background-color: #eff3f7;
	max-width: 650px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px 0px 25px 0px;
}
.main-cnt-bl-title{
	display: inline-block;
	padding: 32px 19px;
	font-size: 27px;
	line-height: 0;
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
}
.main-cnt-bl-body{
	padding: 25px 25px 43px 55px;
	
}
.main-cnt-avatar-bl{
	float: left;
	line-height: 1;
	width: 143px;
	height: 143px;
	margin: 20px 25px 25px 0px;
	line-height: 0;
	border: 3px solid #35a8be;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	overflow: hidden;
}
.main-cnt-data{
	list-style: none;
	line-height: 1.9;
}
.main-cnt-data-item-title{
	font-weight: bold;
	float: left;
	margin: 0px 20px 0px 0px;
}
.skils-bl{
	list-style: none;
	display: block;
	/* margin-left: 350px; */
}	
.skils-bl-item{
	display: inline-block;
	color: #fff;
	padding: 5px 14px;
	margin:4px;
	font-family: proxima_nova_condensedSBd;
	font-size: 14px;
	line-height: 1;
	background: -webkit-linear-gradient(top, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);
background: -o-linear-gradient(top, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);
background: -ms-linear-gradient(top, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);
background: -moz-linear-gradient(top, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);
background: linear-gradient(to bottom, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}	

.main-cnt-data-item{
	margin-top: 20px;
}
.key_nv{
	margin-left: 178px;
}
.main-cnt-data-item-ico{
	float: left;
}
.bag{
	width: 40px;
	height: 40px;
	background: url(../img/ico_doc.png) no-repeat;
	background-position: -270px 0px;
}
.study{
	width: 42px;
	height: 25px;
	background: url(../img/ico_doc.png) no-repeat;
	background-position: -128px 0px;
}
.courses{
	width: 28px;
	height: 34px;
	background: url(../img/ico_doc.png) no-repeat;
	background-position: 0px 0px;
}
.main-cnt-data-item-text{
	margin-left: 70px;
	line-height: 1.2;
	font-size: 17px;
}
.main-cnt-data-item-text-lt{
	display: block;
	font-family: fira_sanslight, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
/* Сайт бар */
.sitebar-nav-block{

}
.nav-block li:first-child a{
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.nav-block li:last-child a{
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border-bottom:2px solid #eff3f7;
}
.nav-block li:last-child a.active{
	border-bottom:2px solid #3ba8c0;
}

.sitebar-nav-item{
	width: 250px;
}
.sitebar-nav-link{
	display: block;
	font-size: 23px;
	background: #eff3f7;
	color: #959aa8;
	padding: 20px 20px 14px 25px;
	vertical-align: center;
	border-bottom:2px solid #3ba8c0;
}
.sitebar-nav-link:hover{
	color:#3ba8c0;
	
}
.sitebar-nav-link.active{
	background: #3ba8c0;
	color:#fff;
	border-bottom:2px solid #3ba8c0;
}
.contact{
	margin-top: 20px;
	color: #fff;
	width: 250px;
	font-style: normal;
	font-size: 17px;
}	
.contact-bl-title{
	background-color: #3ba8c0;
	padding: 15px 20px 10px 20px;
	line-height: 1;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}
.contact-bl-item{
	padding: 15px 20px 10px 35px;
	background-color: #3ba8c0;
}
	
.contact-bl-item-link{
	color:#fff;
	vertical-align: top;
}
.contact-bl-item-link:hover{
	text-decoration: underline;
}
.mail{
	background:#41b9d4; 
}
.ico_mail{
	display: inline-block;
	margin-right: 20px;
	background-image: url(../img/ico_cnt.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 20px;
	background-position: 0px 0px;
}
.phone{
	background:#48cbe8; 
}
.ico_phone{
	display: inline-block;
	margin-right: 20px;
	background-image: url(../img/ico_cnt.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 20px;
	background-position: -120px -3px;
}
.skype{
	background:#51daf8; 
}
.ico_skype{
	display: inline-block;
	margin-right: 20px;
	background-image: url(../img/ico_cnt.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 20px;
	background-position: -248px -3px;
}

/* /Сайт бар */
/* /content*/

/* footer */
.footer{
	background: #eff3f7;
	/* text-align: center; */

}
.lock-bl{
	float: left;
	margin: 22px 0px 22px 0px;
	width: 24px;
	height: 34px;
	background: url(../img/ico_lock.png) no-repeat;
	/* background-position: 0px 0px; */
	background-position: -119px 0px;
	
}
.footer-text{
	text-align: center;
	padding: 22px 0px 22px 0px;
	margin: 0px 100px;
	font-family: fira_sanslight, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
/* / footer */


/* Медиа стили для плпаншета  1000 - 680*/
@media (max-width: 1000px) {
  .sitebar-nav-block, .contact-bl-title, .lock-bl{
  	display: none;
   }
   .header-nav{
   	display: block;
   	float: right;
   	}
   .main-content{
   	float: none;
   	margin: 0 auto;
   	padding: 0px 35px;
    }
    .main-cnt-bl{
		max-width: 100%;
    }
    .contact-bl-item{
		width: 33%;
		float: left;
		padding: 10px 0px;
		text-align: center;
    }
   .contact-bl-item.phone{
		width: 34%;
   }
   	.contact{
   		width: 100%;
   	}
   	.wrap-st-1{
		padding: 0px 35px;
   	}
}
/*/ Медиа стили для плпаншета  1000 - 760*/

/* Медиа стили для телефона  760 - 320*/
@media (max-width: 760px) {
	.header-soc-seti{
		display: none;
	}
	.header-nav-link.first:before {
		left: 210px;
	}
   	.wrap-st-1{
		padding: 0px 13px;
   	}
   	.main-content{
	   	padding: 0px 13px;
    }
    .contact-bl-item{
		width:100%;
		float: none;
		padding: 10px 0px;
		text-align: center;
    }
    .contact-bl-item.phone{
		width: 100%;
   }
   .main-cnt-avatar-bl{
   	float: none;
   	margin: 20px auto 0px auto;
   }
	.main-cnt-data{
		text-align: center;
		line-height: 1.3
	}
   .main-cnt-data-item-title{
   	float: none;
   	text-align: center;
   	margin: 0;
   }
   .main-cnt-bl-title{
   	line-height: 1;
   }
   .key_nv{
   	margin-left: 0px;
   }
  .main-cnt-bl-body{
  	padding: 25px;
  }
  .header-block-logo{
  	width: 190px;
  }
	.header-block-logo a img{
  	width:190px;
  }
  .header-nav{
  	margin-left: 20px;
  }
  .mobile-soc-bl{
  	display: block;
  	padding: 20px 13px;
  	height: 54px;
   }
   .main-cnt-data-item-ico{
	float: none;
	margin: 20px auto;
   }
   .main-cnt-data-item-text{
   	margin-left: 0;
   }
   .footer-text{
   	margin: 0px 13px;
   }
}
/* /Медиа стили для телефона  680 - 320*/