@import url(../fonts/fira/fira.css);
@import url(../fonts/Proxima-Nova/proxima-nova.css); 

/*Общии правила*/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
html{
	height: 100%;
}
body{
	height: 100%;
	background: url(../img/bg.jpg);
	font-family: fira_sansbook, Arial, Helvetica, sans-serif;
	color: #4a545d;
	min-width: 300px;
}

/* footer внизу страницы*/
.wrapper{
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
}
.wrapper:after{
	content:"";
	height: 80px;
	display: block;
}
.page-footer{
	height: 80px;
	margin-top: -80px
}
/* /footer внизу страницы*/

ul{
	margin: 0 0;
	padding: 0 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.no-bold{
	font-weight: normal !important;
}
.wrap-st-1{
	max-width: 1200px;
	margin: 0 auto;
}
.wrap-st-2{
	max-width: 960px;
	margin: 0 auto;
}

.blk-for-modal{
	max-width: 360px;
	margin: 0px auto;
}
.md-modal{
	display: none;
}
.dbl{
	display: block;
}


.line-gradient{
height: 3px;
background: -webkit-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
background: -o-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
background: -ms-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
background: -moz-linear-gradient(left, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
background: linear-gradient(to right, rgb(231, 239, 243) 0%, rgb(151, 186, 197) 25%, rgb(35, 107, 126) 50%, rgb(151, 186, 197) 75%, rgb(231, 239, 243) 100%);
}

.block-grid{
	margin-bottom: 15px;
}
.grid-50{
	box-sizing: border-box;
	width: 50%;
	padding: 0px 9px;
	float: left;
}
.block-grid .grid-50:first-child{
	padding-left: 0px; 
}
.block-grid .grid-50:last-child{
	padding-right: 0px; 
}
:focus {
  outline: 0;
}
.fl-l{
	float: left;
}
.fl-r{
	float: right;
}
/* / Общии правила*/

/* header */
.header{
	background-color: #eff3f7;
	padding: 36px 10px 0px 10px;
}
.header-block-logo{
	float: left;
	padding-top: 6px;
	padding-bottom: 34px;
}
.header-logo-text{
	display: block;
	height: 0;
	text-indent: -9999px;
}
.header-nav{
	float: right;
}
.header-soc-seti{
	float: right;
}
.soc-seti-item{
	float: left;
	list-style: none;
	margin-left: 20px;
}
.soc-seti-item:first-child{
	margin-left: 0;
}
.soc-seti-link{
	display: block;
	width: 50px;
	height: 50px;
	color: rgba(0,0,0,0);
	font-size: 0px;
}
.vk{
	background-image: url(../img/ico_soc.png);
	background-position: -8px -155px; 
}
.vk:hover{
	background-image: url(../img/ico_soc.png);
	background-position: -8px -9px; 
}
.tw{
	background-image: url(../img/ico_soc.png);
	background-position: -155px -155px; 
}
.tw:hover{
	background-image: url(../img/ico_soc.png);
	background-position: -155px -9px; 
}
.fb{
	background-image: url(../img/ico_soc.png);
	background-position: -303px -155px; 
}
.fb:hover{
	background-image: url(../img/ico_soc.png);
	background-position: -303px -9px; 
}
.gt{
	background-image: url(../img/ico_soc.png);
	background-position: -450px -155px; 
}
.gt:hover{
	background-image: url(../img/ico_soc.png);
	background-position: -450px -9px; 
}
.header-nav{
	width: 25px;
	height: 21px;
	margin: 10px 0px 0px 60px;
	background-image: url(../img/ico-mobile-nav.png);
	cursor: pointer;
}
.header-nav:hover .nav-block{
	display: block;
}
.header-nav .nav-block{
	/* display: block; */
	position: absolute;
	margin-top: 32px;
	right: 5px;
	z-index: 1000;
	-webkit-box-shadow: 1px 3px 8px 1px rgba(13,16,7,.35);
	-moz-box-shadow: 1px 3px 8px 1px rgba(13,16,7,.35);
	box-shadow: 1px 3px 8px 1px rgba(13,16,7,.35);
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	 /* overflow: hidden; */
}


.header-nav-item{
	width: 250px;
}
.header-nav-link{
	display: block;
	font-size: 23px;
	color: #959aa8;
	padding: 20px 20px 14px 25px;
	vertical-align: center;
	position: relative;
}
.header-nav-link:hover{
	color:#3ba8c0;
}
	
.header-nav-link.active{
	background: #3ba8c0;
	color:#fff;
}
.header-nav-link.first {
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius:  5px 5px 0px 0px;
}

.header-nav-link.first:before {
    content: '';
	position: absolute;
	left: 185px;
	top: -20px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
.header-nav-link.first.active:before {
	border-bottom: 10px solid #3ba8c0;;
}

/* .header-nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -2px;
  border-bottom: 2px solid #3ba8c0;
}
.header-nav-link.active:before {
  border-bottom: 0px solid #3ba8c0;
} */
/* / header */

/* content*/
.content{
	padding-top: 40px;
}
.main-content{
	float: right;
}
.main-cnt-bl{
	background-color: #eff3f7;
	max-width: 650px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0px 0px 25px 0px;
	overflow: hidden;
}
.main-cnt-bl-title{
	display: inline-block;
	padding: 32px 19px;
	font-size: 27px;
	line-height: 0;
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
}
.main-cnt-bl-body{
  	padding: 28px 20px;
}

/* Сайт бар */
.sitebar-nav-block{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	width: 250px;
	background: #eff3f7;
	margin-bottom: 30px;
}


.sitebar-nav-item{
	width: 250px;
}
.sitebar-nav-link{
	display: block;
	font-size: 23px;
	
	color: #959aa8;
	padding: 20px 20px 14px 25px;
	vertical-align: center;
	position: relative;
	
}
.sitebar-nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -2px;
  border-bottom: 2px solid #3ba8c0;
}
.sitebar-nav-link.active:before {
  border-bottom: 0px solid #3ba8c0;
}
.sitebar-nav-link:hover{
	color:#3ba8c0;
	
}
.sitebar-nav-link.active{
	background: #3ba8c0;
	color:#fff;
}
.contact{
	color: #fff;
	width: 250px;
	font-style: normal;
	font-size: 17px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}	
.contact-bl-title{
	background-color: #3ba8c0;
	padding: 14px 20px 6px 21px;
	line-height: 1;
	
	font-size: 20px;
}
.contact-bl-item{
	padding: 5px 20px 6px 35px;
	background-color: #3ba8c0;
}
	
.contact-bl-item-link{
	color:#fff;
	vertical-align: top;
	display: block;
	padding-left: 35px;
}
.contact-bl-item-link:hover{
	text-decoration: underline;
}
.mail{
	background:#41b9d4; 
	background-image: url(../img/ico_mail.png);
	background-repeat: no-repeat;
	background-position: 41px 12px;
}
.phone{
	background:#48cbe8;
	background-image: url(../img/ico_tel.png);
	background-repeat: no-repeat;
	background-position: 40px 9px;
}
.skype{
	background:#51daf8;
	background-image: url(../img/ico_skype.png);
	background-repeat: no-repeat;
	background-position: 40px 11px; 
}


/* /Сайт бар */
/* /content*/

/* footer */
.footer{
	background: #eff3f7;
	position: relative;
	z-index: 100;

}
.lock-bl-link{
	float: left;
	margin: 20px 0px 20px 0px;
	width: 24px;
	height: 34px;
	background: url(../img/ico_lock.png) no-repeat;
	background-position: 0px 0px;
	/* background-position: -119px 0px; */
	text-indent: -9999px;
}
.lock-bl-link:hover, .lock-bl-link.logged {
	background-position: -119px 0px;
}	
.footer-text{
	text-align: center;
	padding: 20px 0px 20px 0px;
	margin: 0px 100px;
	font-family: fira_sanslight, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
/* / footer */

