@import url(hover_style_img.css);

.bl-works{
	text-align: justify;
	
}
.work-item{
	width: 185px;
	display: inline-block;
	text-align: center;
	margin-bottom: 40px;
	vertical-align: top;
	
}
.work-item-fgr{
	margin: 0;
}
.work-item-img{
	border: 2px solid #68bbce;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.work-item-link{
	display: block;
	position: relative;
}
.work-item-link-text{
	margin-top: 10px;
	color: #3ba8c0;
	font-family: fira_sanslight, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.work-item-text{
	font-family: fira_sanslight, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #4a545d;
	line-height: 1.2;
}

.work-item-blk-img {
   width: 180px;
   height: 100%;
   border: 2px solid #68bbce;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   -webkit-border-radius: 5px;
	border-radius: 5px;
 
}
.work-item-blk-img .mask,.work-item-blk-img .content {
   width: 180px;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.work-item-blk-img img {
   display: block;
   position: relative;
}
.work-item-blk-img h2 {
   color: #eff3f7;
   text-align: center;
   font-size: 12px;
   padding: 5px;
   position: relative;
   border: 1px solid #fff;
   border-radius: 5px;
}


.work-item-blk-img p {
	display: inline;
   color: #eff3f7;
   font-size: 12px;
   position: relative;
   top: 40%;
   color: #fff;
   padding: 5px;
   border: 1px solid #fff;
   border-radius: 5px;
   text-align: center;
}
.work-item-blk-img a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.work-item-blk-img a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.add-work{
	border: 2px dashed #68bbce;
	padding: 16px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}