@import url(hover_style_img.css);

.bl-works{
   /* text-align: justify; */
   padding-top: 6px;
}
   
.work-item{
   width: 183px;
   /* display: inline-block; */
   float: left;
   margin: 0px 15px 41px;
   text-align: center;
   /* margin-bottom: 40px; */
   vertical-align: top;
}

   
.work-item-fgr{
   margin: 0;
}
.work-item-img{
  /*  border: 2px solid #68bbce;
  -webkit-border-radius: 5px;
  border-radius: 5px; */
}
.work-item-link{
   display: block;
   position: relative;
   cursor: pointer;
}
.work-item-link-text{
   font-family: fira_sanslight, Arial, Helvetica, sans-serif;
   font-size: 13px;
   color: #3ba8c0;
}
.work-item-text{
   font-family: fira_sanslight, Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #4a545d;
   line-height: 1.2;
   /* overflow: hidden;
   height: 38px; */
   padding-top: 6px;
}
.work-item-text:after{
   content:"...";
}

.work-item-blk-img {
   width: 180px;
   height: 100%;
   border: 2px solid #68bbce;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
.work-item-img{
   max-width: 180px;
}
.work-item-blk-img .mask,.work-item-blk-img .content {
   width: 180px;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.work-item-blk-img img {
   display: block;
   position: relative;
}
.work-item-blk-img h2 {
   color: #eff3f7;
   text-align: center;
   font-size: 12px;
   padding: 5px;
   position: relative;
   border: 1px solid #fff;
   border-radius: 5px;
}


.work-item-blk-img p {
   display: inline;
   color: #eff3f7;
   font-size: 12px;
   position: relative;
   top: 40%;
   color: #fff;
   border: 1px solid #fff;
   border-radius: 5px;
   text-align: center;
   padding: 0px 2px;
   line-height: 1;
}
.work-item-blk-img a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.work-item-blk-img a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.add-work{
  font-size: 12px;
   border: 2px dashed #68bbce;
   padding: 33px 5px 24px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 1;
  color: #68bbce;
  cursor: pointer;
}

/* Modal Content styles */
.file-md{
   margin: 0 auto;
   max-width: 360px;
   background-color: #eff3f7;
   overflow: hidden;
   font-family: fira_sansbook, Arial, Helvetica, sans-serif;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 6px 12px 1px rgba(13,16,7,.35);
   -moz-box-shadow: 0 6px 12px 1px rgba(13,16,7,.35);
   box-shadow: 0 6px 12px 1px rgba(13,16,7,.35);
}
.file-md-title{
   background-color: #48cbe8;
   color: #fff;
   font-size: 25px;
   border-bottom: 9px solid #67dffa;
   padding: 10px 12px;
}
.file-md-close{
   float: right;
   border: 1px solid #fff;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   padding: 1px 8px;
   line-height: 1;
   cursor: pointer;
}
.file-md-cont{
   padding: 20px 12px;
}
/* /Modal Content styles */

.skils-bl{
   list-style: none;
   display: block;

}  
.skils-bl-item{
   display: inline-block;
   color: #fff;
   padding: 5px 14px;
   margin:4px;
   font-family: proxima_nova_condensedSBd;
   font-size: 14px;
   line-height: 1;
   background: -webkit-linear-gradient(top, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);
background: -o-linear-gradient(top, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);
background: -ms-linear-gradient(top, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);
background: -moz-linear-gradient(top, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);
background: linear-gradient(to bottom, rgba(57, 166, 190, 0.29) 0%, rgba(59, 168, 191, 0.91) 6%, rgba(46, 140, 162, 0.89) 89%, rgba(46, 140, 161, 0.85) 94%, rgba(43, 138, 159, 0.33) 100%);

   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}  

.portf-item-img{
   display: block;
   max-width: 300px;
   margin: 0px auto 10px auto;
   border: 2px solid #68bbce;
   -webkit-box-shadow: 2px 2px 2px #e6e6e6;
  -moz-box-shadow: 2px 2px 2px #e6e6e6;
  box-shadow: 2px 2px 2px #e6e6e6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.portf-item-bl-link{
   text-align: center;
}
.portf-item-link{

}
.portf-item-text{
font-family: fira_sanslight, Arial, Helvetica, sans-serif;
  color: #4a545d;
  line-height: 1.2;
  font-size: 13px;
  padding-top: 6px;
   padding-bottom: 10px;
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}  
